#login-page {
  display: flex;
  flex-direction: row;

  .lateral-logo,
  .login,
  .form-login,
  .title,
  .gotoSignUp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .lateral-logo {
    background-color: rgb(10, 10, 10);
    color: white;
    width: 60vw;
    height: 100vh;
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    font-size: 1.8rem;
    transition: 0.5s all ease-in-out;

    &:hover {
      font-size: 1.6rem;
      img {
        width: 450px;
      }
    }

    img {
      margin-bottom: -20px;
      width: 400px;
      transition: 0.5s all ease-in-out;
    }

    .title {
      h1,
      h3 {
        height: 0px;
      }
    }
  }

  .login {
    background: rgb(240, 249, 255);
    width: 40vw;
    height: 100vh;
    font-family: "Roboto", sans-serif;

    .form-login {
      width: 70%;

      input,
      button,
      .gotoSignUp {
        font-family: "Roboto", sans-serif;
        font-weight: 600;
        border: 1px solid rgba(0, 0, 0, 0.404);
        border-radius: 5px;
        outline: none;
        width: 400px;
        height: 40px;
        margin-top: 20px;
        text-align: center;
      }

      input {
        background: rgb(240, 249, 255);
        color: rgb(10, 10, 10);
      }

      button {
        background-color: rgb(10, 10, 10);
        color: cornsilk;
        transition: 0.3s all ease-in-out;
        width: 405px;
        height: 45px;

        &:hover {
          background: rgba(255, 0, 0, 0.822);
          border: none;
        }
      }

      .gotoSignUp {
        background-color: rgb(55, 218, 49);
        border: none;
        color: cornsilk;
        transition: 0.3s all ease-in-out;
        text-decoration: none;

        &:visited {
          text-decoration: none;
        }
      }
    }
  }
}
